<h1> All records </h1>

<% @article.each do |t| %>
  <table>
    <tr>
    <th> Title </th>
    <th> Description </th>
    </tr>
    <tr>
    <td><%=  t.title %> </td>
    <td><%= t.description %>  </td>
    </tr>
  </table>

<% end %>