

<div class="jumbotron jcenter">
    <h1 class="display-4">Alpha-Blog</h1>
    <p class="lead "> this is a simple test project for tarining </p>

    <p class="lead">
      <%= link_to 'my page', pages_mypage_path ,class: "btn btn-secondary btn-lg" %> |
      <%= link_to 'alpha-blog', articles_path, class: "btn btn-primary btn-lg" %> |

    </p>

</div>